body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  min-height: 100vh;
}

.interactive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.game-container {
  margin: 0 5%;
  display: flex;
  flex-direction: column;
}

.game-data {
  display: flex;
}

.scores,
.messages {
  width: 50%;
}

.scores p {
  font-size: 18px;
}

.results {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 50px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  min-width: 100px;
  min-height: 50px;
}

#rock {
  background-color: sandybrown;
  border: 2px solid brown;
}

#rock:active {
  background-color: brown;
}

#paper {
  background-color: white;
  border: 2px solid gray;
}

#paper:active {
  background-color: gray;
}

#scissors {
  background-color: lightgray;
  border: 2px solid darkblue;
}

#scissors:active {
  background-color: darkblue;
}